+PawnKindDef("Typhon_Cystoid", "Cystoid", "Typhon_Cystoid_Race")(ParentName="AnimalKindBase")
  defaultFactionType Typhon
  combatPower 20
  ecoSystemWeight .1
  lifeStages
    li
      +BodyGraphicData("Typhon/Cystoid/Cystoid", "(255,255,255)", ".5")
      +DessicatedBodyGraphicData("Typhon/Cystoid/Cystoid", "(200,200,255)", ".5")
