+PawnKindDef("Typhon_Phantom", "Phantom", "Typhon_Phantom_Race")(ParentName="AnimalKindBase")
  defaultFactionType Typhon
  combatPower 160
  ecoSystemWeight 1
  lifeStages
    li
      +BodyGraphicData("Typhon/Phantom/Phantom", "(255,255,255)", "1.1")
      +DessicatedBodyGraphicData("Typhon/Phantom/Phantom", "(200,200,255)", "1.1")
