+PawnKindDef("Typhon_Telepath", "Telepath", "Typhon_Telepath_Race")(ParentName="AnimalKindBase")
  defaultFactionType Typhon
  combatPower 160
  ecoSystemWeight 1
  lifeStages
    li
      +BodyGraphicData("Typhon/Telepath/Telepath", "(255,255,255)", "4")
      +DessicatedBodyGraphicData("Typhon/Telepath/Telepath", "(200,200,255)", "4")
