+PawnKindDef("Typhon_Weaver_PawnKind", "Weaver", "Typhon_Weaver_Race")(ParentName="AnimalKindBase")
  defaultFactionType Typhon
  combatPower 160
  ecoSystemWeight 1
  lifeStages
    li
      +BodyGraphicData("Things/Pawns/Typhon/Weaver/Weaver", "(255,255,255)", "1.7")
      +DessicatedBodyGraphicData("Things/Pawns/Typhon/Weaver/Weaver", "(200,200,255)", "1.7")
