ThingDef(ParentName="ResourceBase")
  defName Typhon_Thing_Organ
  label typhon organ
  description An organ harvvested from a Typhon. These organs are full of an exotic material commonly used in the manufacturing of skilltrainers and other psychic equipment
  stackLimit 75
  tradeability Sellable
  techLevel Ultra
  tradeTags: li ExoticMisc
  thingCategories: li Items
  statBases
    MaxHitPoints 20
    DeteriorationRate 6
    MarketValue 10
    Mass 1
    Flammability 1
  graphicData
    texPath Things/Item/Resource/MeatFoodRaw/Meat_Insect
    color (100,100,120,255)
    graphicClass Graphic_StackCount