ThingDef(ParentName="BaseBullet")
  defName Typhon_Thing_KineticOrb
  label kinetic orb
  graphicData
    texPath Typhon/Thing/KineticOrb/KineticOrb
    color (255,255,255)
    graphicClass Graphic_Single
  projectile
    damageDef Thump
    damageAmountBase 15
    speed 30