extends ../Templates/Defs.pug
block defs
  +ThingDef("Filth_Typhon_Blood", "blood")(ParentName="BaseFilth")
    statBases
      Beauty -40
      Cleanliness -20
    filth
      ignoreFilthMultiplierStat true
      disappearsInDays 35~40
      rainWashes true
      cleaningWorkToReduceThickness 70
      canFilthAttach true
      cleaningSound Interact_CleanFilth_Fluid
    +GraphicData("Things/Filth/Spatter", "(25,25,25)")
