extends ../Templates/Defs.pug
block defs
  +IncidentDef("MimicCrash", "mimic Crash")
    category ThreatBig
    targetTags
      li Map_PlayerHome
    workerClass Typhon.IncidentWorker_MimicCrash
    letterLabel Mysterious Transport Pod
    letterText A transport pod seems to be crashing nearby, with an anusual black creature, gripping it as it falls through the atmosphere.
    letterDef ThreatBig
    baseChance 5
    minThreatPoints 100
    pointsScaleable true
