extends ../Templates/Defs.pug
block defs
  +JobDef("TyphonMimicMultiply", "Typhon.JobDriver_MimicMultiply", "Multiplying")
  +JobDef("TyphonMimicBuilding", "Typhon.JobDriver_MimicBuilding", "Hiding")
