+ThingDef("Typhon_Cystoid_Race", "cystoid")(ParentName="TyphonThingBase")
  description Lesser species of Typhon known to accumulate in nests and seen to spawn from the Weavers. Not much of a threat on their own but can overwhelm one with their numbers. Extremely volatile and explodes upon contact with any moving object, caution adviced when dealing with groups.
  statBases
      MaxHitPoints 1
      MoveSpeed 2
  race
    body Typhon_Cystoid_Body
    thinkTreeMain Typhon_Thinktree_Cystoid
    deathActionWorkerClass Typhon.DeathActionWorker.ToxicExplosion
    baseHealthScale .1
    baseBodySize .1
    lifeStageAges
      +LifeStage("AnimalAdult", 0)
        +LifeStageSounds("Typhon_Mimic_Wounded", "Typhon_Mimic_Death", "Typhon_Mimic_Call", "Typhon_Mimic_Angry")
  tools
    +Tool("Body")
      +Capacities("Blunt")
      power 5
      cooldownTime 2
      linkedBodyPartsGroup Torso
      ensureLinkedBodyPartsGroupAlwaysUsable true
      chanceFactor 0.2
