+ThingDef("Typhon_Greater_Mimic_Race")(ParentName="TyphonThingMimic" Name="TyphonThingGreaterMimic")
  statBases
    MoveSpeed 15
  race
    baseBodySize .3

+ThingDef("Typhon_Greater_Mimic_Hidden_Race")(ParentName="TyphonThingMimic")
  selectable false
  hasTooltip false
  tickerType Rare
