+ThingDef("Typhon_Mimic", "mimic")(ParentName="TyphonThingBase" Name="TyphonThingMimic")
  description The first type of Typhon ever encountered by human life, these small agile creatures possess the ability to shape-shift into almost every single object, from small to medium sizes. How they do it is still up for debate but for all we know their organs and matter are quite valuable in the rim due to it's use in creating Neuro and Psytrainers. Still, for their size they can be dangerous so caution is adviced.
  receivesSignals true
  +Comps("Typhon.CompProperties.Hivemind", "Typhon.CompProperties.AttackOnDamage")
  statBases
    MoveSpeed 10
  race
    body Typhon_Mimic
    thinkTreeMain Typhon_Thinktree_Mimic
    baseBodySize .2
    lifeStageAges
      +LifeStage("AnimalAdult", 0)
        +LifeStageSounds("Typhon_Mimic_Wounded", "Typhon_Mimic_Death", "Typhon_Mimic_Call", "Typhon_Mimic_Angry")
  tools
    +Tool("Appendage")
      +Capacities("Blunt")
      power 9
      cooldownTime .9
      linkedBodyPartsGroup FrontLeftLeg
      surpriseAttack
        +ExtraMeleeDamages([["Stun", 9]])
    +Tool("Appendage")
      +Capacities("Blunt")
      power 9
      cooldownTime .9
      linkedBodyPartsGroup FrontRightLeg
      surpriseAttack
        +ExtraMeleeDamages([["Stun", 9]])
    +Tool("Body")
      +Capacities("Blunt")
      power 5
      cooldownTime 2
      linkedBodyPartsGroup Torso
      ensureLinkedBodyPartsGroupAlwaysUsable true
      chanceFactor 0.2
      
+ThingDef("Typhon_Mimic_Hidden")(ParentName="TyphonThingMimic")
  selectable false
  hasTooltip false
  tickerType Rare
