include Mixins.pug
+ThingDef("Typhon_Phantom_Race", "phantom")(ParentName="TyphonRaceBase")
  description Phantoms are humanoid Typhon that Weavers are able to create from human corpses. Phantoms exhibit human-like behavioral patterns in the form of curiously observing their environment and have even been shown capable of mimicking human speech. They are even able to repeat phrases not heard by the humans used to create the phantom.
  +TyphonRace("Human", "Typhon_Thinktree_Phantom")
    baseBodySize 1
    lifeStageAges
      +LifeStage("AnimalAdult", 0)
        +LifeStageSounds("Typhon_Phantom_Wounded", "Typhon_Phantom_Death", "Typhon_Phantom_Call", "Typhon_Phantom_Angry")
  tools
    +Tool("Right Claw")
      +Capacities("Blunt")
      power 9
      cooldownTime 2
      linkedBodyPartsGroup RightHand
      surpriseAttack
        extraMeleeDamages
          li
            def Stun
            amount 14
    +Tool("Left Claw")
      +Capacities("Blunt")
      power 9
      cooldownTime 2
      linkedBodyPartsGroup LeftHand
      surpriseAttack
        extraMeleeDamages
          li
            def Stun
            amount 14
    +Tool("Teeth")
      +Capacities("Bite")
      power 9
      cooldownTime 2
      linkedBodyPartsGroup Teeth
      chanceFactor 0.1
      soundMeleeHit Pawn_Melee_HumanBite_Hit
      soundMeleeMiss Pawn_Melee_HumanBite_Miss
    +Tool("Body")
      +Capacities("Blunt")
      power 5
      cooldownTime 2
      linkedBodyPartsGroup Torso
      ensureLinkedBodyPartsGroupAlwaysUsable true
      chanceFactor 0.2
