include Mixins.pug
+ThingDef("Typhon_Phantom_Race", "phantom")(ParentName="TyphonRaceBase")
  description The first type of Typhon ever encountered by human life, these small agile creatures possess the ability to shape-shift into almost every single object, from small to medium sizes. How they do it is still up for debate but for all we know their organs and matter are quite valuable in the rim due to it's use in creating Neuro and Psytrainers. Still, for their size they can be dangerous and have been seen to multiply upon feasting on an organic being, draining it from life and even dead ones, so caution is adviced. 
  +TyphonRace("Human", "Typhon_Thinktree_Phantom")
    baseBodySize 1
    lifeStageAges
      +LifeStage("AnimalAdult", 0)
        +LifeStageSounds("Typhon_Phantom_Wounded", "Typhon_Phantom_Death", "Typhon_Phantom_Call", "Typhon_Phantom_Angry")
  tools
    +Tool("Right Claw")
      +Capacities("Blunt")
      power 9
      cooldownTime 2
      linkedBodyPartsGroup RightHand
      surpriseAttack
        extraMeleeDamages
          li
            def Stun
            amount 14
    +Tool("Left Claw")
      +Capacities("Blunt")
      power 9
      cooldownTime 2
      linkedBodyPartsGroup LeftHand
      surpriseAttack
        extraMeleeDamages
          li
            def Stun
            amount 14
    +Tool("Teeth")
      +Capacities("Bite")
      power 9
      cooldownTime 2
      linkedBodyPartsGroup Teeth
      chanceFactor 0.1
      soundMeleeHit Pawn_Melee_HumanBite_Hit
      soundMeleeMiss Pawn_Melee_HumanBite_Miss
    +Tool("Body")
      +Capacities("Blunt")
      power 5
      cooldownTime 2
      linkedBodyPartsGroup Torso
      ensureLinkedBodyPartsGroupAlwaysUsable true
      chanceFactor 0.2
