+ThingDef("Typhon_Phantom_Race", "phantom")(ParentName="TyphonThingBase")
  description Typhon taking the shape of a tall humanoid figure, Phantoms are what you get when a Weaver gets a hold of a dead or unconcious human body. Having the ability to zip and teleport short distances and project psychic pulses of energy towards foes from afar, these nimble Typhon can be deadly even on their own. Extreme caution is adviced.
  race
    body Human
    thinkTreeMain Typhon_Thinktree_Phantom
    baseBodySize 1
    lifeStageAges
      +LifeStage("AnimalAdult", 0)
        +LifeStageSounds("Typhon_Phantom_Wounded", "Typhon_Phantom_Death", "Typhon_Phantom_Call", "Typhon_Phantom_Angry")
  tools
    +Tool("Right Claw")
      +Capacities("Blunt")
      power 9
      cooldownTime 2
      linkedBodyPartsGroup RightHand
      surpriseAttack
        extraMeleeDamages
          li
            def Stun
            amount 14
    +Tool("Left Claw")
      +Capacities("Blunt")
      power 9
      cooldownTime 2
      linkedBodyPartsGroup LeftHand
      surpriseAttack
        extraMeleeDamages
          li
            def Stun
            amount 14
    +Tool("Teeth")
      +Capacities("Bite")
      power 9
      cooldownTime 2
      linkedBodyPartsGroup Teeth
      chanceFactor 0.1
      soundMeleeHit Pawn_Melee_HumanBite_Hit
      soundMeleeMiss Pawn_Melee_HumanBite_Miss
    +Tool("Body")
      +Capacities("Blunt")
      power 5
      cooldownTime 2
      linkedBodyPartsGroup Torso
      ensureLinkedBodyPartsGroupAlwaysUsable true
      chanceFactor 0.2
