+ThingDef("Typhon_Telepath_Race", "telepath")(ParentName="TyphonThingBase")
  description Typhon with almost no discernable figure, a mass of tentacles, and a single glowing eye. Some say just looking at it can be unnerving. Telepaths have been shown to have immense psychic ability, causing mental harm to pawns and even bending them to the telepaths will.
  +Comps("Typhon.CompProperties.Hivemind", "Typhon.CompProperties.AttackOnDamage")
  receivesSignals true
  race
    body Typhon_Telepath_Body
    thinkTreeMain Typhon_Thinktree_Telepath
    baseBodySize 2
    lifeStageAges
      +LifeStage("AnimalAdult", 0)
        +LifeStageSounds("Typhon_Mimic_Wounded", "Typhon_Mimic_Death", "Typhon_Mimic_Call", "Typhon_Mimic_Angry")
  tools
    +Tool("Body")
      +Capacities("Blunt")
      power 5
      cooldownTime 2
      linkedBodyPartsGroup Torso
      ensureLinkedBodyPartsGroupAlwaysUsable true
      chanceFactor 0.2
    +Tool("Tendril")
      +Capacities("Blunt")
      power 10
      cooldownTime 1
      linkedBodyPartsGroup Arms
      surpriseAttack
        +ExtraMeleeDamages([["Stun", 9]])
