include Mixins.pug
+ThingDef("Typhon_Weaver_Race", "weaver")(ParentName="TyphonRaceBase")
  description Weavers are an advanced form of Typhon Mimic that has, through unknown means, been selected for transformation into a Weaver. Weavers get their name from their production of Coral, a luminescent web-like substance that hangs in the air wherever Weavers are found. Weavers are able to reanimate the husks of humans who have been killed, turning the husks into Phantoms.
  +TyphonRace("Typhon_Weaver_Body", "Typhon_Thinktree_Weaver")
    baseBodySize 1.1
    lifeStageAges
      +LifeStage("AnimalAdult", 0)
        +LifeStageSounds("Typhon_Mimic_Wounded", "Typhon_Mimic_Death", "Typhon_Mimic_Call", "Typhon_Mimic_Angry")
  receivesSignals true
  +Comps("Typhon.CompProperties_Hivemind")
    li(Class="CompProperties_SpawnerFilth")
      filthDef Filth_Typhon_Coral
      spawnMtbHours .1
    li(Class="CompProperties_Spawner")
      thingToSpawn Typhon_Cystoid_Nest
      spawnMaxAdjacent 1
      inheritFaction true
      spawnIntervalRange 30000~200000
  tools
    +Tool("Tendril")
      +Capacities("Blunt")
      power 10
      cooldownTime 1
      linkedBodyPartsGroup Arms
      surpriseAttack
        +ExtraMeleeDamages([["Stun", 9]])
    +Tool("Body")
      +Capacities("Blunt")
      power 5
      cooldownTime 2
      linkedBodyPartsGroup Torso
      ensureLinkedBodyPartsGroupAlwaysUsable true
      chanceFactor 0.2
