include ../Mixins.pug
Operation(Class="PatchOperationFindMod")
  mods
    li Vanilla Expanded Framework
  match(Class="PatchOperationSequence")
    operations
      li(Class="PatchOperationAdd")
        xpath /Defs
        value
          if enableOperators
            include Operators/Bodies.pug
            include Operators/Races.pug
            include Operators/Pawnkinds.pug
            include Operators/ThinkTrees.pug
            include Operators/Buildings.pug
          #{"MVCF.ModDef"}
            defName Caaz_Typhon
            label Typhon
            description Add animal ranged attacks for Typhon.
            Features
              RangedAnimals true
      li(Class="PatchOperationAdd")
        xpath /Defs/ThingDef[defName="Typhon_Phantom_Race"]
        value
          comps
            li(Class="AnimalBehaviours.CompProperties_Blink")
              blinkInterval 1000
              distance 2~10
              blinkWhenManhunter true
          verbs
            li
              verbClass Verb_Shoot
              hasStandardCommand true
              defaultProjectile Typhon_Projectile_KineticOrb
              warmupTime 1
              range 10
              ticksBetweenBurstShots 5
              soundCast Shot_ChargeBlaster
              soundCastTail GunTail_Heavy
              muzzleFlashScale 0
