PawnKindDef(ParentName="TyphonKindBase")
  defName Typhon_PawnKind_Mimic
  label mimic
  race Typhon_Thing_Mimic
  combatPower 80
  ecoSystemWeight 1
  abilities
    li Typhon_Ability_MimicMatter
  lifeStages: li
    bodyGraphicData
      texPath Typhon/PawnKind/Mimic/Mimic
      color (255,255,255)
      drawSize .7
    dessicatedBodyGraphicData
      texPath Typhon/PawnKind/Mimic/Mimic
      color (200,200,255)
      drawSize .7