PawnKindDef(ParentName="AnimalKindBase")
  defName Typhon_PawnKind_Phantom
  label Phantom
  race Typhon_Thing_Phantom
  defaultFactionType Typhon
  combatPower 160
  ecoSystemWeight 1
  abilities
    li Typhon_Ability_PhantomPhase
    li Typhon_Ability_KineticOrb
  lifeStages: li
    bodyGraphicData
      texPath Typhon/PawnKind/Phantom/Phantom
      color (255,255,255)
      drawSize 1.1
    dessicatedBodyGraphicData
      texPath Typhon/PawnKind/Phantom/Phantom
      color (200,200,255)
      drawSize 1.1