PawnKindDef(ParentName="AnimalKindBase")
  defName Typhon_PawnKind_Phantom
  label Phantom
  race Typhon_Thing_Phantom
  combatPower 160
  ecoSystemWeight 1
  lifeStages
    li
      bodyGraphicData
        texPath Typhon/PawnKind/Phantom/Phantom
        color (255,255,255)
        drawSize 1.1
      dessicatedBodyGraphicData
        texPath Typhon/PawnKind/Phantom/Phantom
        color (200,200,255)
        drawSize 1.1