
+ThingDef("Typhon_Projectile_Gloo", "Gloo")(ParentName="BaseBullet")
  +GraphicData("Typhon/Projectiles/KineticOrb/KineticOrb", "(255,255,255)", .3, "Graphic_Single")
  projectile
    damageDef Stun
    damageAmountBase 1
    speed 80

+ThingDef("Typhon_Projectile_Gloo_Large", "Gloo")(ParentName="BaseBullet")
  thingClass Typhon.Projectile_Gloo
  +GraphicData("Typhon/Projectiles/KineticOrb/KineticOrb", "(255,255,255)", 1, "Graphic_Single")
  projectile
    damageDef Stun
    damageAmountBase 1
    speed 80
