include Mixins/Lists.pug

mixin Dependency(packageId, displayName, steamWorkshopUrl)
  li
    packageId!= packageId
    displayName!= displayName
    steamWorkshopUrl!= steamWorkshopUrl

doctype xml
ModMetaData
  name Typhon Dev
  description Adds Typhon from Prey (2015). For a full list of features, view the Workshop page!
  author Caaz
  packageId caaz.typhon-dev
  +SupportedVersions("1.3")
  +LoadAfter("UnlimitedHugs.HugsLib", "OskarPotocki.VanillaFactionsExpanded.Core")
  modDependencies
    +Dependency("UnlimitedHugs.HugsLib", "HugsLib", "steam://url/CommunityFilePage/818773962")
