include Mixins/Lists.pug

mixin Dependency(packageId, displayName, steamWorkshopUrl)
  li
    packageId!= packageId
    displayName!= displayName
    steamWorkshopUrl!= steamWorkshopUrl

doctype xml
ModMetaData
  name Typhon Dev
  description.
    Adds a Typhon Faction, based on the typhon from Prey.
    Current creatures:
    - Mimics, which disguise themselves as small buildings, and wait to attack.
    - Weavers, which create filth and wait for corpses to create Phantoms
    - Phantoms, which patrol an area and hunt via ranged attacks.
    Misc Features:
    - Create psy/skilltrainers at fabrication benches, using typhon organs.
    Recommended mods:
    - Vanilla Expanded Framework adds extended animal behavior for Weavers
    
  author Caaz
  packageId caaz.typhon-dev
  +SupportedVersions("1.3")
  +LoadAfter("UnlimitedHugs.HugsLib", "OskarPotocki.VanillaFactionsExpanded.Core")
  modDependencies
    +Dependency("UnlimitedHugs.HugsLib", "HugsLib", "steam://url/CommunityFilePage/818773962")
