include Mixins/Generic.pug
doctype xml
ModMetaData
  +Object({
    name:name,
    description:description,
    author:author,
    packageId:packageId,
    supportedVersions:supportedVersions,
    loadAfter:loadAfter,
    modDependencies:modDependencies
  })