Project(Sdk="Microsoft.NET.Sdk")
  PropertyGroup
    RootNamespace=namespace
    AssemblyName=assemblyName
    OutputPath=assemblyFolder
    VersionPrefix=version
    OutputType Library
    TargetFramework net472
    PlatformTarget x64
    DebugType none
    DebugSymbols false
    AppendTargetFrameworkToOutputPath false
    Deterministic false
  ItemGroup
    PackageReference(Include="Krafs.Rimworld.Ref" Version="1.4.3563")/
    PackageReference(Include="Lib.Harmony" Version="2.2.2")
      ExcludeAssets runtime
    PackageReference(Include="UnlimitedHugs.Rimworld.HugsLib" Version="10.0.1")
      ExcludeAssets runtime