doctype xml
include Mixins/Generic.pug
Defs
  include Defs/AbilityDef.pug
  include Defs/EffecterDef.pug
  include Defs/FleshTypeDef.pug
  include Defs/PawnKindDef.pug
  include Defs/SoundDef.pug
  include Defs/ThingCategoryDef.pug
  include Defs/ThingDef.pug
  include Defs/ThinkTreeDef.pug