extends Templates/Defs.pug
block defs
  - enableWeaver = true
  include Defs/Bodies.pug
  include Defs/BodyParts.pug
  include Defs/Factions.pug
  include Defs/Filth.pug
  include Defs/Hediffs.pug
  include Defs/Incidents.pug
  include Defs/Items.pug
  include Defs/Jobs.pug
  include Defs/Misc.pug
  include Defs/PawnKinds.pug
  include Defs/Races.pug
  include Defs/Recipes.pug
  include Defs/Sounds.pug
  include Defs/ThinkTrees.pug
