doctype html
- yellow = "#FFE277"
- blue = "#59cbff"
head
  link(rel="stylesheet" href="../Pug/Wiki/reset.css")
  style.
    .card {
      display:flex;
      flex-direction:column;
      width:640px;
      font-family:sans-serif;
      background-color: #000000;
      opacity: 1;
      background: repeating-linear-gradient( -45deg, #131313, #131313 3.5px, #000000 3.5px, #000000 17.5px );
    }
    .card > h1 {
      color:#59ccff;
      background: linear-gradient(90deg, rgba(68,68,68,1) 0%, rgba(17,17,17,1) 100%);
      padding:.5em .5em .1em .5em;
      font-size:1.7em;
    }
    .card > div {
      display:flex;
    }
    .card > div > div {
      width:30%;
      display:flex;
      flex-direction:column;
    }
    .card > div > div:last-of-type {
      width:70%;
      display:flex;
      flex-direction:column;
      border-left:2px solid #5588AA;
      background:rgba(10,10,10,.5);
    }
    h1, h2 {
      font-variant:small-caps;
    }
    img {
      background: radial-gradient(circle, rgba(113,135,182,.7) 0%, rgba(41,50,89,0) 70%, rgba(41,50,89,0) 100%);
      /* background: linear-gradient(90deg, rgba(100,100,100,1) 0%, rgba(30,30,30,1) 100%); */
      padding:2em;
      max-width: 70%;
    }
    p {
      text-indent:2em;
      text-align:justify;
      padding:0px .5em 1em .5em;
      color:#AADDFF;
    }
    .info h1 {
      padding:.5em;
      font-size: 1.5em;
      color:#FFE277;
      border-bottom:1px #222 solid;
    }
body
  mixin Card(label, img)
    div
      div
        img(src="../Textures/Typhon/"+img)
      .info
        h1= label
        block
    
  .card
    h1 Creatures
    +Card("Mimic", "Mimic/Mimic_South.png")
      p Mimics are small creatures which can camouflage themselves in the environment by some unknown ability. On the rim, this means they'll transform into any non-living thing of similar size, avoiding detection from even the most keen observer. 
      p Should they arrive near your colony, it would be wise to take them out. Being small they are quite fragile, and can be taken out by gunfire quite easily. Though, they are quick and close combat with one isn't recommended.
    +Card("Weaver", "Weaver/Weaver_South.png")
      p For some unknown reason, mimics will occasionally choose to transform into a Weaver. Weavers wander an area creating coral around them. 
      p Weavers can create other typhon, by using dessicated corpses as material. It's best to not let these hang around too long, or you'll have bigger problems on your hands.
    +Card("Phantom", "Phantom/Phantom_South.png")
      p Phantoms are reanimated corpses brought to life by weavers. They patrol the area, and attack indiscriminately with ranged attacks as well as powerful claws.
      p They've been observed "talking" saying phrases that they once thought during a past life, when they were still human.
    +Card("Cystoid", "Cystoid/Cystoid_South.png")
      p Cystoids are small, slow moving explosive creatures. They act as mines for the typhon, and are primarily created by Weavers.
      p Weavers may also create cystoid nests, which spawn cystoids when destroyed.
