doctype html
- back = "#192229"
- yellow = "#FFEE77"
- blue = "#59cbff"
head
  link(rel="stylesheet" href="Pug/Wiki/reset.css")
  style.
    h2 {
      font-size:2em;
      color:#FFEE77;
      width:100%;
      border-bottom:1px solid #343227;
      padding: .3em 0;
    }
    .workshop {
      width:630px;
      background-color:#1B2838;
      color:#7f9baf;
      font-family:sans-serif;
    }
    .card {
      background-color:#141004;
      border-radius:2em;
      border:1px solid #343227;
      padding:1em;
      background-image: radial-gradient(farthest-corner at 40px 40px, #1a1917 0%, #090f0d 100%);
      overflow:hidden;
      margin:1em 0em;
    }
    .research {
      width:90%;
    }
    .images {
      width:20%;
      border-radius: 1em 0 0 0;
      border:1px solid #343227;
      position: relative;
      right: -17px;
      bottom: -17px;
    }
    .info {
      display:flex;
    }
    img {
      max-width:100%;
    }
    p {
      padding: 1em 0;
    }

body
  mixin Card(label, img)
    .card
      h2= label
      .info
        .research
          block
        .images(style='background-image: radial-gradient(farthest-corner at '+Math.random()*100+'% '+Math.random()*100+'%, #661e10aa 0%, #14100400 100%), url("https://www.transparenttextures.com/patterns/asfalt-light.png");')
          img(src="Textures/Typhon/"+label+"/"+label+"_South.png")
          img(src="Textures/Typhon/"+label+"/"+label+"_East.png")
    
  .workshop
    +Card("Mimic")
      p Mimics are small creatures which can camouflage themselves in the environment by some unknown ability. On the rim, this means they'll transform into any non-living thing of similar size, avoiding detection from even the most keen observer. 
      p Should they arrive near your colony, it would be wise to take them out. Being small they are quite fragile, and can be taken out by gunfire quite easily. Though, they are quick and close combat with one isn't recommended.
    +Card("GreaterMimic")
      p Much like normal mimics, Greater Mimics will camouflage themselves in the environment. By some mutation in mimic spawning, these can sometimes appear.
      p Greater Mimics are stronger, tougher, and faster than normal mimics.
    +Card("Weaver")
      p For some unknown reason, mimics will occasionally choose to transform into a Weaver. Weavers wander an area creating coral around them. 
      p Weavers can create other typhon, by using dessicated corpses as material. It's best to not let these hang around too long, or you'll have bigger problems on your hands.
    +Card("Phantom")
      p Phantoms are reanimated corpses brought to life by weavers. They patrol the area, and attack indiscriminately with ranged attacks as well as powerful claws.
      p They've been observed "talking" saying phrases that they once thought during a past life, when they were still human.
    +Card("Cystoid")
      p Cystoids are small, slow moving explosive creatures. They act as mines for the typhon, and are primarily created by Weavers.
      p Weavers may also create cystoid nests, which spawn cystoids when destroyed.
