doctype xml
Patch
  include Patches/VanillaExpandedFramework.pug
  include Patches/VanillaFactionsExpanded-Mechanoid.pug
  Operation(Class="PatchOperationAdd")
    xpath /Defs/ThingDef[defName="FabricationBench"]/recipes
    value
      each skill in ["Shooting", "Melee", "Construction", "Mining", "Cooking", "Plants", "Animals", "Crafting", "Artistic", "Medicine", "Social", "Intellectual"]
        li!= "Typhon_Make_Skilltrainer_" + skill
        
