+BodyDef("Typhon_Cystoid_Body", "typhon cystoid")
  +BodyPart("TyphonThorax", true)
    height Middle
    depth Outside
    +Groups("Torso")
    parts
      +BodyPart("TyphonSpike")
        coverage 0.1
      +BodyPart("TyphonSpike")
        coverage 0.1
      +BodyPart("TyphonSpike")
        coverage 0.1
      +BodyPart("TyphonSpike")
        coverage 0.1
      +BodyPart("TyphonSpike")
        coverage 0.1
      +BodyPart("TyphonSpike")
        coverage 0.1
