+BodyDef("Typhon_Mimic", "typhon mimic")
  +BodyPart("TyphonThorax", true)
    height Middle
    depth Outside
    +Groups("Torso")
    parts
      +BodyPart("Eye")
        customLabel left eye
        coverage 0.12
      +BodyPart("Eye")
        customLabel right eye
        coverage 0.12
      +BodyPart("Heart")
        coverage 0.03
        depth Inside
      +BodyPart("TyphonMimicLeg")
        customLabel front left leg
        coverage 0.07
        height Bottom
        +Groups("FrontLeftLeg")
      +BodyPart("TyphonMimicLeg")
        customLabel front right leg
        coverage 0.07
        height Bottom
        +Groups("FrontRightLeg")
      +BodyPart("TyphonMimicLeg")
        customLabel rear left leg
        coverage 0.07
        height Bottom
      +BodyPart("TyphonMimicLeg")
        customLabel rear right leg
        coverage 0.07
        height Bottom
