+BodyDef("Typhon_Telepath_Body", "typhon weaver")
  +BodyPart("TyphonThorax", true)
    height Middle
    depth Outside
    +Groups("Torso")
    parts
      +BodyPart("Eye")
        coverage 0.12
      +BodyPart("TyphonCore")
        coverage 0.01
        depth Inside
      +BodyPart("TyphonTendril")
        customLabel tendril
        coverage 0.01
        height Bottom
        +Groups("Arms")
      +BodyPart("TyphonTendril")
        customLabel tendril
        coverage 0.01
        height Bottom
        +Groups("Arms")
      +BodyPart("TyphonTendril")
        customLabel tendril
        coverage 0.01
        height Bottom
      +BodyPart("TyphonTendril")
        customLabel tendril
        coverage 0.01
        height Bottom
      +BodyPart("TyphonTendril")
        customLabel tendril
        coverage 0.01
        height Bottom
      +BodyPart("TyphonTendril")
        customLabel tendril
        coverage 0.01
        height Bottom