+BodyDef("Typhon_Weaver_Body", "typhon weaver")
  +BodyPart("TyphonThorax", true)
    height Middle
    depth Outside
    +Groups("Torso")
    parts
      +BodyPart("Eye")
        customLabel left eye
        coverage 0.12
      +BodyPart("Eye")
        customLabel right eye
        coverage 0.12
      +BodyPart("TyphonCore")
        coverage 0.01
        depth Inside
      +BodyPart("TyphonTendril")
        customLabel left tendril
        coverage 0.01
        height Top
        +Groups("Arms")
      +BodyPart("TyphonTendril")
        customLabel right tendril
        coverage 0.01
        height Top
        +Groups("Arms")
      +BodyPart("TyphonTendril")
        customLabel top tendril
        coverage 0.01
        height Bottom