AbilityCategoryDef
  defName Typhon
  displayOrder 31126

AbilityDef(ParentName="PsycastBase" MayRequire="Ludeon.RimWorld.Royalty")
  defName Typhon_Ability_PhantomGenesis
  label phantom genesis
  description Using this ability, you can choose to convert human corpses or unconscious humans into Phantoms, which will then fight by your side and follow you around. This can be a useful way to gain additional allies in combat. They are typically slow-moving, but can move at great speeds when provoked.
  iconPath Typhon/Abilities/PhantomGenesis
  cooldownTicksRange 68400~75600
  warmupMote Mote_ResurrectAbility
  //- warmupStartSound Resurrect_Cast
  category Typhon
  displayOrder 1
  hostile false
  verbProperties
    verbClass Verb_CastAbilityTouch
    drawAimPie false
    range -1
    warmupTime 2
    //- soundCast Resurrect_Resolve
    targetParams
      //- This should be true, for incapacitated pawns at least
      canTargetPawns false
      canTargetBuildings false
      canTargetCorpses true
      canTargetMechs true
  statBases: Ability_PsyfocusCost 0.04
  comps: li(Class="CompProperties_Resurrect")