+BodyPartDef()(Name="TyphonPart" Abstract="true")
  permanentInjuryChanceFactor 0
  skinCovered false
  bleedRate 0

+BodyPartDef("TyphonThorax", "thorax", 40)(ParentName="TyphonPart")
+BodyPartDef("TyphonMimicLeg", "leg", 30)(ParentName="TyphonPart")
  frostbiteVulnerability 0.01
  +Tags("MovingLimbCore", "ManipulationLimbCore")
  
+BodyPartDef("TyphonTendril", "leg", 30)(ParentName="TyphonPart")
  frostbiteVulnerability 0.01
  +Tags("MovingLimbCore", "ManipulationLimbCore")
