BodyPartDef
  defName Typhon_BodyPart_Tendril
  label tendril
  frostbiteVulnerability 0.01
  hitPoints 20
  tags
    li MovingLimbCore
    li ManipulationLimbCore

BodyPartDef
  defName Typhon_BodyPart_Organ
  label organ
  hitPoints 20
  tags
    li BloodPumpingSource
    li BloodFiltrationSource
    li MetabolismSource
    li BreathingSource
    li EatingSource