DamageDef(ParentName="Bomb")
  defName Typhon_ToxicExplosion
  label Toxic Explosion
  additionalHediffs
    li
      hediff ToxicBuildup
      severityPerDamageDealt .05
      victimSeverityScaling ToxicResistance
      victimSeverityScalingByInvBodySize true
  damageEffecter Impact_Toxic
  defaultDamage 1