FactionDef(ParentName="FactionBase")
  defName Typhon
  label typhon
  description The Typhon are a hostile alien species known for their incredible shape-shifting abilities and formidable combat prowess. They are composed of a shimmering grey-black substance that seems to display the characteristics of solids, liquids, and gasses all at once, allowing them to change their form and use their appendages as weapons. They have been the subject of study by researchers who sought to harness their abilities for use by humans. The exotic materials harvested from the Typhon's own organs are used in the development of Skilltrainers, technology that allows the modification of the human brain. Despite their fearsome reputation, most Typhon are vulnerable to kinetic trauma, such as blunt force or ballistics. They come in a variety of sizes and shapes, from small arachnid-like creatures to large humanoids and floating orbs. Very little is known about their anatomy or biological makeup, as their physiology is highly alien and difficult to understand.
  pawnSingular typhon
  pawnsPlural typhon
  requiredCountAtGameStart 1
  fixedName Typhon
  factionIconPath World/WorldObjects/Expanding/Insects
  colorSpectrum: li (0.2,0.2,0.2)
  raidCommonalityFromPointsCurve: points: li (0, 0)
  humanlikeFaction false
  hidden true
  autoFlee false
  canUseAvoidGrid false
  techLevel Animal
  permanentEnemy true
  settlementTexturePath World/WorldObjects/DefaultSettlement
  allowedArrivalTemperatureRange -100~100
  maxConfigurableAtWorldCreation 1
  configurationListOrderPriority 31126