FleshTypeDef
  defName Typhon_Flesh_Typhon
  corpseCategory Typhon_ThingCategory_TyphonCorpse
  damageEffecter Typhon_Damage_HitTyphon
  genericWounds
    for character in ["A", "B", "C"]
      li
        texture="Things/Pawn/Wounds/Wound" + character
        color 0.2,0.2,0.2