HediffDef
  defName TyphonCreatesWeaver
  label creates weaver
  description This typhon is attempting to transform into a weaver.
  hediffClass HediffWithComps
  isBad false
  +Comps("Typhon.HediffCompProperties.CreateWeaver")
