HediffDef
  defName TyphonCreatesWeaver
  label creates weaver
  description This typhon is attempting to transform into a weaver.
  hediffClass HediffWithComps
  isBad false
  +Comps("Typhon.HediffCompProperties.CreateWeaver")

HediffDef
  defName TyphonMindControlled
  label mind controlled
  description This pawn is mindcontrolled by a typhon.
  hediffClass Typhon.Hediffs.MindControlled
  isBad true
