+ThingDef("TyphonOrgan", "Typhon Organ")(ParentName="ResourceBase")
  description An organ harvvested from a Typhon. These organs are full of an exotic material commonly used in the manufacturing of Skilltrainers.
  smallVolume true
  stackLimit 75
  tradeability Sellable
  techLevel Ultra
  statBases
    MaxHitPoints 20
    DeteriorationRate 6
    MarketValue 40
    Mass 1
    Flammability 1
  +TradeTags("ExoticMisc")
  +ThingCategories("Items")
  +GraphicData("Things/Item/Resource/MeatFoodRaw/Meat_Insect", "(100,100,120,255)", null, "Graphic_StackCount")
