+JobDef("TyphonMimicMultiply", "Typhon.JobDriver.MimicMultiply", "Multiplying")
+JobDef("TyphonMimicBuilding", "Typhon.JobDriver.MimicBuilding", "Hiding")
+JobDef("TyphonCreateWeaver", "Typhon.JobDriver.CreateWeaver", "Becoming a Weaver")
+JobDef("TyphonCreatePhantom", "Typhon.JobDriver.CreatePhantom", "Creating a Phantom")
+JobDef("TyphonCystoidAttack", "Typhon.JobDriver.CystoidAttack", "Hunting")
+JobDef("TyphonCreateCystoid", "Typhon.JobDriver.CreateCystoid", "Creating Cystoids")
+JobDef("TyphonMindControl", "Typhon.JobDriver.MindControl", "Mind-Controlling")

+JobDef("TyphonMindBlower", "Typhon.JobDriver.MindBlower", "Learning a valuable lesson about telepaths")

+JobDef("TyphonOperatorMedical", "Typhon.JobDriver.Operator.Medical", "Tending Patient")
