+JobDef("TyphonMimicMultiply", "Typhon.JobDriver.MimicMultiply", "Multiplying")
+JobDef("TyphonMimicBuilding", "Typhon.JobDriver.MimicBuilding", "Hiding")
+JobDef("TyphonAttackPawn", "Typhon.JobDriver.AttackPawn", "Attacking")
+JobDef("TyphonCreateWeaver", "Typhon.JobDriver.CreateWeaver", "Becoming a Weaver")
+JobDef("TyphonCreatePhantom", "Typhon.JobDriver.CreatePhantom", "Creating a Phantom")
