+JobDef("TyphonMimicMultiply", "Typhon.JobDriver_MimicMultiply", "Multiplying")
+JobDef("TyphonMimicBuilding", "Typhon.JobDriver_MimicBuilding", "Hiding")
+JobDef("TyphonAttackPawn", "Typhon.JobDriver_AttackPawn", "Attacking")
