+JobDef("TyphonMimicMultiply", "Typhon.JobDriver.MimicMultiply", "Multiplying")
+JobDef("TyphonMimicBuilding", "Typhon.JobDriver.MimicBuilding", "Hiding")
+JobDef("TyphonCreateWeaver", "Typhon.JobDriver.CreateWeaver", "Becoming a Weaver")
+JobDef("TyphonCreatePhantom", "Typhon.JobDriver.CreatePhantom", "Creating a Phantom")

+JobDef("TyphonOperatorMedical", "Typhon.JobDriver.Operator.Medical", "Tending Patient")
