+ThingCategoryDef("CorpsesTyphon", "Typhon Corpses", "CorpsesAnimal")
+FleshTypeDef("Typhon")
  corpseCategory CorpsesTyphon
  damageEffecter Damage_HitTyphon
  +GenericWounds([
    ["Things/Pawn/Wounds/WoundA", "0.2,0.2,0.2"], 
    ["Things/Pawn/Wounds/WoundB", "0.2,0.2,0.2"], 
    ["Things/Pawn/Wounds/WoundC", "0.2,0.2,0.2"],
  ])
+EffecterDef("Damage_HitTyphon", {offsetTowardsTarget:"0.25~0.25", positionRadius:"0.1"})
  +SubEffecter("SubEffecter_SprayerTriggered", {
      positionRadius: "0.4",
      fleckDef: "AirPuff",
      burstCount: "4~5",
      speed: "0.4~0.8",
      scale: "1.0~1.3",
      color: "(25,25,25)",
      spawnLocType: "OnSource"
  })
  +SubEffecter("SubEffecter_SprayerTriggered", {
      positionRadius: "0.1",
      fleckDef: "BloodSplash",
      burstCount: "2~3",
      scale: "1.6~2.1",
      color: "(25,25,25)",
      spawnLocType: "OnSource"
  })
  +SubEffecter("SubEffecter_SprayerTriggered", {
      positionRadius: "0.0",
      fleckDef: "BodyImpact",
      burstCount: "1",
      scale: "0.55",
      color: "(25,25,25)",
      spawnLocType: "OnSource"
  })
