+ThingCategoryDef("CorpsesTyphon", "Typhon Corpses", "CorpsesAnimal")
+FleshTypeDef("Typhon")
  corpseCategory CorpsesTyphon
  damageEffecter Damage_HitTyphon
  +GenericWounds([
    ["Things/Pawn/Wounds/WoundA", "0.2,0.2,0.2"], 
    ["Things/Pawn/Wounds/WoundB", "0.2,0.2,0.2"], 
    ["Things/Pawn/Wounds/WoundC", "0.2,0.2,0.2"],
  ])
+EffecterDef("Damage_HitTyphon", {offsetTowardsTarget:"0.25~0.25", positionRadius:"0.1"})
  +SubEffecter("SubEffecter_SprayerTriggered", {
      positionRadius: "0.4",
      fleckDef: "AirPuff",
      burstCount: "4~5",
      speed: "0.4~0.8",
      scale: "1.0~1.3",
      color: "(25,25,25)",
      spawnLocType: "OnSource"
  })
  +SubEffecter("SubEffecter_SprayerTriggered", {
      positionRadius: "0.1",
      fleckDef: "BloodSplash",
      burstCount: "2~3",
      scale: "1.6~2.1",
      color: "(25,25,25)",
      spawnLocType: "OnSource"
  })
  +SubEffecter("SubEffecter_SprayerTriggered", {
      positionRadius: "0.0",
      fleckDef: "BodyImpact",
      burstCount: "1",
      scale: "0.55",
      color: "(25,25,25)",
      spawnLocType: "OnSource"
  })
  
+ThingDef("Typhon_Projectile_KineticOrb", "kinetic orb")(ParentName="BaseBullet")
  +GraphicData("Typhon/Projectiles/KineticOrb/KineticOrb", "(255,255,255)", 1, "Graphic_Single")
  projectile
    damageDef Thump
    damageAmountBase 15
    speed 80

if feature_flags.storyteller
  HistoryAutoRecorderDef
    defName Typhon_History_Goodwill
    label Goodwill
    graphColor (1,1,1,1)
    recordTicksFrequency= 60000/10
    workerClass Typhon.HistoryAutoRecorderWorker.Goodwill
    valueFormat {0}

  HistoryAutoRecorderGroupDef
    defName Typhon_History
    label Typhon History
    historyAutoRecorderDefs
      li Typhon_History_Goodwill