+ThingDef()(ParentName="AnimalThingBase" Name="TyphonRaceBase" Abstract="true")
  statBases
    PsychicSensitivity 2
    ToxicSensitivity 0
    MoveSpeed 7.0
    MarketValue 450
    ComfyTemperatureMin -101
    FilthRate 0

include Races/Mimic.pug
include Races/Weaver.pug
include Races/Phantom.pug
include Races/Cystoid.pug
