SoundDef
  defName Typhon_Sound_PhantomWounded
  context MapOnly
  subSounds: li
    volumeRange 15~25
    pitchRange 1.2~1
    distRange 0~70
    grains: li(Class="AudioGrain_Folder"): clipFolderPath Typhon/Phantom/Wounded

SoundDef
  defName Typhon_Sound_PhantomDeath
  context MapOnly
  subSounds: li
    volumeRange 25~35
    pitchRange 1~1.5
    distRange 0~70
    grains: li(Class="AudioGrain_Folder"): clipFolderPath Typhon/Phantom/Death

SoundDef
  defName Typhon_Sound_PhantomCall
  context MapOnly
  subSounds: li
    volumeRange 20~30
    pitchRange 1.2~1
    distRange 0~70
    grains: li(Class="AudioGrain_Folder"): clipFolderPath Typhon/Phantom/Call

SoundDef
  defName Typhon_Sound_PhantomAngry
  context MapOnly
  subSounds: li
    volumeRange 25~35
    pitchRange 0.9~1.1
    distRange 0~50
    grains: li(Class="AudioGrain_Folder"): clipFolderPath Typhon/Phantom/Angry
