+SoundDef("Typhon_Mimic_Wounded", "MapOnly")
  +SubSound("Typhon/Mimic/Mimic_Wounded_1b")
    volumeRange 15~15
    pitchRange 1.2~1
    distRange 0~70
+SoundDef("Typhon_Mimic_Death", "MapOnly")
  +SubSound("Typhon/Mimic/Mimic_Death_1b")
    volumeRange 25~25
    pitchRange 1~1.5
    distRange 0~70
+SoundDef("Typhon_Mimic_Call", "MapOnly")
  +SubSound("Typhon/Mimic/Mimic_Call_1b")
    volumeRange 12~12
    pitchRange 0.9~1.1
    distRange 0~50
+SoundDef("Typhon_Mimic_Angry", "MapOnly")
  +SubSound("Typhon/Mimic/Mimic_Angry_1a")
    volumeRange 12~12
    pitchRange 0.9~1.1
    distRange 0~50
