+ThinkTreeDef("TyphonMimic")
  +ThinkNode("ThinkNode_ConditionalMustKeepLyingDown")
    +ThinkNode("JobGiver_KeepLyingDown")
  +ThinkNodeSubtree("Downed")
  +ThinkNodeSubtree("BurningResponse")
  +ThinkNode("JobGiver_ReactToCloseMeleeThreat")
  +ThinkNode("ThinkNode_QueuedJob")
  +ThinkNode("Typhon.JobGiver_MimicMultiply")
  +ThinkNode("Typhon.JobGiver_AttackNearbyPawns")
  +ThinkNode("Typhon.JobGiver_MimicBuilding")
  +ThinkNode("ThinkNode_Tagger",{tagToGive:"Idle"})
    +ThinkNode("ThinkNode_ConditionalHerdAnimal")
      +ThinkNode("JobGiver_WanderHerd", {maxDanger:"Deadly",ticksBetweenWandersRange:"120~240"})
    +ThinkNode("JobGiver_WanderAnywhere", {maxDanger:"Deadly",ticksBetweenWandersRange:"120~240"})
  +ThinkNode("JobGiver_IdleError")
  
+ThinkTreeDef("TyphonMimicConstant")
  +ThinkNode("ThinkNode_ConditionalCanDoConstantThinkTreeJobNow")
