include ThingDef/TyphonThingBase.pug
include ThingDef/Mimic.pug
include ThingDef/Phantom.pug

include ThingDef/Blood.pug
include ThingDef/MimickedMatter.pug
include ThingDef/Organ.pug
include ThingDef/Projectile.pug