mixin StandardThinkTree(defName)
  +ThinkTreeDef(defName)
    +ThinkNode("ThinkNode_ConditionalMustKeepLyingDown")
      +ThinkNode("JobGiver_KeepLyingDown")
    +ThinkNodeSubtree("Downed")
    +ThinkNodeSubtree("BurningResponse")
    +ThinkNode("JobGiver_ReactToCloseMeleeThreat")
    +ThinkNode("ThinkNode_QueuedJob")
    block
    +ThinkNode("ThinkNode_Tagger",{tagToGive:"Idle"})
      +ThinkNode("JobGiver_WanderAnywhere", {maxDanger:"Deadly",ticksBetweenWandersRange:"120~240"})
    +ThinkNode("JobGiver_IdleError")

+ThinkTreeDef("Typhon_Thinktree_Constant")
  +ThinkNode("ThinkNode_ConditionalCanDoConstantThinkTreeJobNow")
  
+StandardThinkTree("Typhon_Thinktree_Mimic")
  +ThinkNode("Typhon.JobGiver.MimicMultiply")
  +ThinkNode("Typhon.JobGiver.AttackPawn")
  if enableWeaver
    +ThinkNode("ThinkNode_ConditionalRandom", {chance:"0.05"})
      +ThinkNode("Typhon.JobGiver.CreateWeaver")
  +ThinkNode("Typhon.JobGiver.MimicBuilding")
  
+StandardThinkTree("Typhon_Thinktree_Weaver")
  +ThinkNode("Typhon.JobGiver.AttackPawn")
