include ../../Mixins/Lists.pug

mixin Dependency(packageId, displayName, steamWorkshopUrl)
  li
    packageId!= packageId
    displayName!= displayName
    steamWorkshopUrl!= steamWorkshopUrl

doctype xml
ModMetaData
  name Typhon Dev
  description.
    Adds the typhon race of creatures, from Prey.
    Currently, this adds Mimics. A hostile creature capable of disguising itself as small inanimate objects.
  author Caaz
  packageId caaz.typhon-dev
  +SupportedVersions("1.3")
  +LoadAfter("UnlimitedHugs.HugsLib")
  modDependencies
    +Dependency("UnlimitedHugs.HugsLib", "HugsLib", "steam://url/CommunityFilePage/818773962")
