+BodyDef("Typhon_Operator_Body", "operator")
  +BodyPart("MechanicalThorax", true)
    customLabel Shell
    height Middle
    depth Outside
    +Groups("Torso")
    parts
      +BodyPart("MechanicalArm")
        height Top
        customLabel Left Mechanical Arm
        coverage 0.2
        parts
          +BodyPart("MechanicalHand")
            coverage 0.2
            customLabel Left Mechanical Hand
            +Groups("LeftHand")
      +BodyPart("MechanicalArm")
        height Top
        customLabel Right Mechanical Arm
        coverage 0.2
        parts
          +BodyPart("MechanicalHand")
            coverage 0.2
            customLabel Right Mechanical Hand
            +Groups("RightHand")
      +BodyPart("MechanicalHead")
        customLabel Head
        coverage 0.2
        parts
          +BodyPart("ArtificialBrain")
            depth Inside
            coverage 0
          +BodyPart("SightSensor")
            coverage .3
          +BodyPart("HearingSensor")
            coverage .3
          +BodyPart("SmellSensor")
            coverage .3
      +BodyPart("Reactor")
        depth Inside
        coverage 0
      +BodyPart("FluidReprocessor")
        depth Inside
        coverage 0
      +BodyPart("TyphonOperatorLevitator")
        height Bottom
        depth Inside
        coverage .1
