+ThingDef("Typhon_Medical_Operator_Dispenser", "medical operator charging station")(ParentName="BuildingBase")
  thingClass VFE.Mechanoids.Buildings.Building_BedMachine
  description A station for assembling and recharging Medical Operators.
  +GraphicData("Things/Automation/AutocleanerChargingStation", null, null, "Graphic_Single")
    shadowData
      volume (0.5,0.3,0.7)
      offset (0,0,-0.15)
    damageData
      rect (0.234375,0,0.515625,0.984375)
      cornerTL Damage/Corner
      cornerTR Damage/Corner
      cornerBL Damage/Corner
      cornerBR Damage/Corner
  minifiedDef MinifiedThing
  altitudeLayer FloorEmplacement
  passability Standable
  blockWind false
  rotatable false
  fillPercent 0.1
  constructionSkillPrerequisite 5
  designationCategory Misc
  +ThingCategories("BuildingsProduction")
  statBases
    WorkToBuild 1000
    MaxHitPoints 100
    Mass 10
    Flammability 0.2
  tickerType Rare
  building
    destroySound BuildingDestroyed_Metal_Small
    bed_humanlike false
    bed_showSleeperBody true
    sowTag SupportPlantsOnly
    canPlaceOverImpassablePlant false
    ai_chillDestination false
    artificialForMeditationPurposes false
  costList
    Steel 50
    Plasteel 30
    VFE_ComponentMechanoid 2
    ComponentSpacer 5
  terrainAffordanceNeeded Light
  +Comps("CompProperties_Flickable")
    li(Class="CompProperties_Power")
      compClass CompPowerTrader
      basePowerConsumption 20
    li(Class="VFE.Mechanoids.CompProperties_MachineChargingStation")
      pawnToSpawn Typhon_Operator_Medical
      extraChargingPower 1000
      hoursToRecharge 12
      allowedWorkTypes
        li Doctor
