+PawnKindDef("Typhon_Operator_Medical", "Medical Operator", "Typhon_Operator_Race")(ParentName="AnimalKindBase")
  defaultFactionType PlayerColony
  combatPower 10
  lifeStages
    li
      +BodyGraphicData("Typhon/Operators/Medical/OperatorMedical", "(255,255,255)", "1.5")
      +DessicatedBodyGraphicData("Typhon/Operators/Medical/OperatorMedical", "(255,255,255)", "1.5")
